.welcome-card {
    margin-bottom: 50px;
    width: 500px;
    height: 300px;
  }
.vision-card{
    width: 400px;
    height: 300px;
}
  .info-card {
    display: flex;
    align-content: flex-start;
    margin-bottom: 20px;
    width: 1000px;
    height: 200px;
  }