.recetas-container {
 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

  .recetas{
    background-color: azure;
  }

  .card {
    flex: 0 0 calc(33.33% - 30px); 
    margin: 10px;
  }